body{
    background: bisque;
}

html{
    scroll-behavior: smooth;
}

/* .container{
    background: chocolate;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    margin:7rem;
} */
.jumbotron{
    margin-top: 100px;
}

.navbar{
    background-color: slateblue;
    opacity: 0.9;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
}

.navbar a{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

section[id]{
    scroll-margin-top: 70px;
}
.navbar ul {
    list-style-type: none;
}

.navbar li {
    float: right;
}
ul :hover{
   color: salmon;
}
a.nav-link {
    margin: 2rem;
} */

.col-sm img{
    height: 11rem;
    width: 8rem;

}

footer{
    font-size: 19px;
    padding: 10px 10px 0 10px;
    width: auto;
}
/* a:link{
    text-decoration: none;
    color: aliceblue;
} */