body{
    background: bisque;
}

html{
    scroll-behavior: smooth;
}
/* .container{
    background: chocolate;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 9rem;
}
.jumbotron{
    margin-top: 100px;
} */

.navbar{
    background-color: slateblue;
    opacity: 0.9;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
}

.navbar a{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

section[id]{
    scroll-margin-top: 70px;
}
.navbar ul {
    list-style-type: none;
}

.navbar li {
    float: right;
}
ul :hover{
   color: salmon;
}
a.nav-link {
    margin: 2rem;
} 

form {
    margin: 7rem;
    font-size: 28px;
    font-family: fantasy;
    color: darkred;
    border: solid;
    padding: 2rem;
    background-color: white;
}
input#exampleInputEmail1 {
    /* background: revert; */
    font-size: larger;
}
input#exampleInputPassword1 {
    font-size: larger;
}
button.btn.btn-primary {
    color: wheat;
    font-size: 1rem;
    font-family: cursive;
    background: lightseagreen;
}
div#emailHelp {
    color: blueviolet;
    font-family: sans-serif;
}