body{
    background: bisque;
}

html{
    scroll-behavior: smooth;
}
.container{
    /* background: chocolate;
    color: blanchedalmond; */
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron{
    margin-top: 100px;
}

.navbar{
    background-color: slateblue;
    opacity: 0.9;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
}

.navbar a{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

section[id]{
    scroll-margin-top: 70px;
}
.navbar ul {
    list-style-type: none;
}

.navbar li {
    float: right;
}
ul :hover{
   color: salmon;
}
a.nav-link {
    margin: 2rem;
} */

.col-sm img{
    height: 11rem;
    width: 8rem;

}
footer{
    background: slateblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    padding: 10px 10px 0 10px;
    color: antiquewhite;
    width: auto;
    margin-top: 2rem;
}
a:link{
    text-decoration: none;
    color: aliceblue;
}
img.card-img-top {
    width: 15rem;
    height: 15rem;
    margin-top: 1rem;
    margin-left: 20px;
}
.card.card-hotel.d-flex.flex-column.justify-content-between.ml-2 {
    margin-top: 2rem;
    background-color: beige;
    border: solid slateblue 1px;

}
.card-body {
    margin: 1rem;
    border: solid slateblue 1px;
}
a.btn.btn-primary {
    background-color: blueviolet;
    border-radius: 5px;
    color: floralwhite;
    font-family: cursive;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
}